useDynLib(Rcppocc,.registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)

#added in for RcppParallel!
#importFrom(RcppParallel, RcppParallelLibs)

#for the piping operator
importFrom(dplyr,"%>%")

#for the the foreach runs
importFrom(foreach,"%dopar%")

